.git
.gitignore
.gitattributes
.vscode
.idea

studyenv
venv
.venv

__pycache__
**/__pycache__
*.py[cod]

*.sqlite3
*.log

.env
.env.*
!.env.example

staticfiles

.coverage
htmlcov
.pytest_cache
.mypy_cache