<aside
    id="sidebar"
    class="sidebar"
>

    <div class="sidebar-top">

        <div class="logo">
            StudyOptimizer
        </div>

    </div>


    <nav class="nav">

        <a
            href="{% url 'dashboard' %}"
            class="nav-link {% if active_page == 'dashboard' %}active{% endif %}"
        >
            <span class="nav-icon">▦</span>
            <span class="nav-text">Dashboard</span>
        </a>


        <a
            href="/planner/"
            class="nav-link {% if active_page == 'planner' %}active{% endif %}"
        >
            <span class="nav-icon">◷</span>
            <span class="nav-text">Planner</span>
        </a>


        <a
            href="{% url 'review' %}"
            class="nav-link {% if active_page == 'review' %}active{% endif %}"
        >
            <span class="nav-icon">↻</span>
            <span class="nav-text">Review</span>
        </a>


        <a
            href="{% url 'goals' %}"
            class="nav-link {% if active_page == 'summarize' %}active{% endif %}"
        >
            <span class="nav-icon">≡</span>
            <span class="nav-text">Summarize</span>
        </a>


        <a
            href="{% url 'progress' %}"
            class="nav-link {% if active_page == 'progress' %}active{% endif %}"
        >
            <span class="nav-icon">↗</span>
            <span class="nav-text">Progress</span>
        </a>

    </nav>

</aside>