{% load static %}

<title>Edit Formula</title>

<link
    rel="stylesheet"
    href="{% static 'css/formula-editor.css' %}"
>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <input
        type="hidden"
        name="formula_structure"
        id="formula-structure"
        value="{{ formula.structure }}"
    >

    <h2>Build your formula</h2>

    <div class="toolbar">

        <button
            type="button"
            onclick="addElement('variable')"
        >
            + Variable
        </button>

        <button
            type="button"
            onclick="addElement('number')"
        >
            + Number
        </button>

        <select id="operator-select">

            <option value="">+ Operator</option>
            <option value="+">+</option>
            <option value="-">−</option>
            <option value="×">×</option>
            <option value="÷">÷</option>
            <option value="=">=</option>
            <option value="<">&lt;</option>
            <option value=">">&gt;</option>

        </select>

        <button
            type="button"
            onclick="addSelectedOperator()"
        >
            Add
        </button>

        <button
            type="button"
            onclick="addElement('symbol', '(')"
        >
            + Symbol
        </button>

        <button
            type="button"
            onclick="addFraction()"
        >
            + Fraction
        </button>

    </div>


    <div id="formula-canvas"></div>


    <button type="submit">
        Save Changes
    </button>

</form>


<script>

    const existingFormulaStructure =
        {{ formula.structure|safe }};

</script>


<script src="{% static 'js/formula-editor.js' %}"></script>