<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>StudyOptimizer Dashboard</title>

</head>

<body>

    <h1>
        Welcome, {{ request.user.username }}!
    </h1>


    <h2>
        Quick Navigation
    </h2>


    <div>

        <a href="{% url 'dashboard' %}">
            Dashboard
        </a>

        <br><br>

        <a href="{% url 'admin:index' %}">
            Admin
        </a>

    </div>


    <hr>


    <h2>
        Learning
    </h2>


    <div>

        <a href="/admin/learning/subject/add/">
            + Add Subject
        </a>

        <br><br>

        <a href="/admin/learning/topic/add/">
            + Add Topic
        </a>

    </div>


    <hr>


    <h2>
        Development Links
    </h2>


    <div>

        <a href="/admin/learning/subject/">
            Manage Subjects
        </a>

        <br><br>

        <a href="/admin/learning/topic/">
            Manage Topics
        </a>

        <br><br>

        <a href="/admin/learning/knowledgeunit/">
            Manage Knowledge Units
        </a>

        <br><br>

        <a href="/admin/learning/formula/">
            Manage Formulas
        </a>

        <br><br>

        <a href="/admin/learning/studentknowledge/">
            Student Progress
        </a>

    </div>

</body>

</html>